<% title = 'LDGsCORD'; %>
<section>
    <div id="app">
        <div id="main-cont1">
            <button id="dmButton" class="round-button">
                <i class="fa-brands fa-discord"></i>
            </button>
            <div id="channelsDiv"></div>
            <button id="openModalButton" class="round-button">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div id="main-cont2">
            <div class="server-state">
                <div id="server-header">
                    <a><!--서버 이름 들어갈 곳--></a>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="channel-index-container">
                    <div class="chancont-header">
                        <span id="togglebtn1">
                            <i class="fa-solid fa-angle-right"></i>
                            <a>채팅 채널</a>
                        </span>
                        <i id="ch-create" class="fa-solid fa-plus"></i>
                    </div>
                    
                    <div id="channel-index">
                        
                    </div>
                </div>
            </div>
            <div class="dm-state">
                <div>
                    대화 찾기 또는 시작하기
                </div>
                <div>
                    <button>친구</button>
                </div>
                <div id="friendlist">
                </div>
            </div>
        </div>
        <div id="main-cont3">
            <div id="chat-header">
                <div class="server-state">
                    <a id="channel-name-header"></a>
                    <span>

                    </span>
                </div>
                <div class="dm-state">
                    <a>친구</a>
                    <button data-info="online" class="dmBtn">온라인</button>
                    <button id="pending" data-info="pending" class="dmBtn">대기 중</button>
                    <button data-info="addfriend" class="dmBtn">친구 추가하기</button>
                </div>
            </div>      <!--채널 이름 담을 헤더-->
            <div id="main-cont3-body">
                <div class="server-state">
                    <div id="chat-container"></div>
                    <form id="form" class="chatbox">
                        <textarea id="input" class="chatinput" rows="1" autocomplete="off" required></textarea>
                        <button type="submit" class="invBtn"></button>
                    </form>
                </div>
                <div class="dm-state">
                    <div data-info="online" class="content1"></div>
                    <div data-info="pending" class="content1">
                        <p>대기 중</p>
                        <div id="pending-list"></div>
                    </div>
                    <div data-info="addfriend" class="content1">
                        <div class="friend-request-container">
                            <input id="addfriendinput" type="text" placeholder="사용자 id 번호를 사용하여 친구를 추가할 수 있어요." />
                            <button id="addfriendBtn">친구 요청 보내기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>서버를 만들어보세요</h2>
                <p>서버는 나와 친구들이 함께 어울리는 공간입니다. 내 서버를 만들고 대화를 시작해보세요.</p>
                <div class="mini-btn-container">
                    <form id="serverform">
                        <input id="servername" placeholder="My Server" required>
                        <button id="actionButton" class="rect-button" type="submit">직접 만들기</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="chModal" class="modal">
            <div class="modal-content">
                <span class="close">x</span>
                <h2>채널 만들기</h2>
                <form id="channelform">
                    <input id="channelname" placeholder="새로운 채널" required>
                    <button class="" type="submit">채널 만들기</button>
                </form>
            </div>
        </div>
        <div id="channelMenu" class="customMenu">
            <div id="invchan" class="cmbtn">
                초대하기
            </div>
            <div class="cmbtn">
                채널 편집
            </div>
            <div class="cmbtn">
                채팅 채널 만들기
            </div>
            <div id="delchan" class="cmbtn">
                채널 삭제하기
            </div>
        </div>
        <div class="AcceptfriendreqBtn">
            <div class="user">
                <!--프론트 작업하면 좋을 듯?-->
            </div>
            <div><i class="fa-solid fa-check"></i></div>
            <div><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div id="serverMenu" class="customMenu">
            <div class="cmbtn">
                <a>초대하기</a>
                <i class="fa-solid fa-user-plus"></i>
            </div>
            <div class="cmbtn">
                <a>서버 설정</a>
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="cmbtn">
                <a>채널 만들기</a>
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="cmbtn">
                <a>알림 설정</a>
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="cmbtn">
                <a>서버 프로필 편집</a>
                <i class="fa-solid fa-pen"></i>
            </div>
        </div>
    </div>
    <script src="/public/js/channels.js"></script>
    <script src="/public/js/me.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>
    <script src="/public/js/interaction.js"></script>
</section>