<% title = 'Home'; %>
<h2>Welcome to My Application</h2>
<p>This is the homepage.</p>

<section>
    <div class="login-form">
        <form action="/login" method="post">
        <input type="text" name="username" placeholder="아이디" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input class="btn" type="submit" value="로그인">
        <a href="/register">혹시 계정이 없으신가요?</a>
        </form>
    </div>
</section>