.chat-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 40px;
    margin: 10px;
    padding: 0;
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
    background-color: var(--bg-color-3);
    filter: brightness(1.1);
}

.chat-input {
    height: auto;
    width: 95%;
    resize: none;
    border: 0;
    color: #f4f4f4;
    font-size: 24px;
}

.chat-input:focus {
    outline: none;
}